In [ ]:
#*******************************MODULE 8 ETL / 8.4.1 **********************

# Example1: Converting Single Quotes to Double Quotes

In [2]:
# Import the json module.
import json

In [3]:
# Suppose contact_info_df DataFrame had each key & string value 
# in single quotes instead of double quotes, as follows:
    
# Assign the string data to a variable. 

data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"

# Convert the string data to a dictionary.

converted_data = json.loads(data)

# Iterate through the dictionary (row) and get the values.

row_values = [v for k, v in converted_data.items()]

print(row_values)

# OUTPUT:  
# JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

# Trying to convert the data string to a dictionary results in the above error.
# This means that we need to hv double quotes around our keys.

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [8]:
#  Easy solution is to replace the single quotes with double quotes by using the following code:

data = data.replace("'", '"')
print(data)

# Running the code puts double quotes instead of single ones around the keys and string values.

{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}

In [11]:
# Convert the following updated string data to a dictionary, then print the value of each key.

dict_data = {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}

# replace single quotes with double quotes

dict_data = data.replace("'", '"')

# Convert the string data to a dictionary.

converted_dict_data = json.loads(dict_data)

# Iterate through the dictionary (row) and get the values.

dict_data_row_values = [v for k, v in converted_dict_data.items()]

print(dict_data_row_values)

[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

In [ ]:
# Suppose that we had the following string data, which contains no punctuation:
# string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

# List slicing would work to extract the four-digit numbers, 
# But, retrieving the names and email addresses would be a time-consuming, 
# because those values have different lengths.

# use regular expressions and 
# the findall function to extract the strings that we need.       re.findall(pattern, string)

In [14]:
# Import the regular expression module.

import re

In [15]:
# Assign the string data to a variable. 
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

# Extract the four digit number.

contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

['4661']

In [ ]:
# ******************************* MODULE 8.4.3 ********************************

In [ ]:
# PLAN: Using regular expressions to get the names of all the contacts.

# parse strings by eliminating characters at the beginning of a string 
# to get the name of each contact in the middle of a string.

# extract the name from the "contact_info" column of the contacts_df DataFrame.

In [ ]:
# The regular expression will contain a capture group enclosed in single quotes that contains the following:

# 1) A caret, the word "name," a backslash, a lowercase "s," and a 
#    plus sign inside brackets ([^name\s+]): Ignores the word "name" 
#    followed by one or more whitespace characters.

# 2) The range for uppercase letters, the range for lowercase letters, and a 
#    plus sign inside brackets ([A-Za-z]+): Captures more than one letter, 
#    whether uppercase or lowercase.

# 3) A backslash, a lowercase "s," and a plus sign (\s+): Captures more 
#    than one whitespace character.

# 4) The range for uppercase letters, the range for lowercase letters, and a 
#    plus sign inside brackets ([A-Za-z]+): Captures more than 
#    one letter, whether uppercase or lowercase.

In [17]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco', 'il cecilia']

In [18]:
# Extract the first and last name after the word "name". 

name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [20]:
# Extract the name using regular expression and add it to a new column
contacts_string_df["name"] = contacts_string_df["contact_info"].str.extract(r'name\s+([A-Za-z ]+)')

# Display the updated DataFrame
print(contacts_string_df)

NameError: name 'contacts_string_df' is not defined