In [ ]:
# ******************************* MODULE 8.4.1 ********************************

# Example2: Finding Substrings in Multiple Rows

In [1]:
# Import the Pandas dependency.
import pandas as pd

# Import the regular expression module.
import re

In [2]:
# Read the contacts string data into a Pandas DataFrame

contacts_string_df = pd.read_csv("../M8_ModuleActivities/contacts_string_data.csv")

contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [3]:
# Print column info.
contacts_string_df.columns

Index(['contact_info'], dtype='object')

In [4]:
# Extract the four-digit contact ID number.

contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')

In [5]:
contacts_string_df.head()

                                        contact_info contact_id
0  contact_id 4661 name Cecilia Velasco email cec...       4661
1  contact_id 3765 name Mariana Ellis email maria...       3765
2  contact_id 4187 name Sofie Woods email sofie.w...       4187
3  contact_id 4941 name Jeanette Iannotti email j...       4941
4  contact_id 2199 name Samuel Sorgatz email samu...       2199

In [ ]:
# ******************************* MODULE 8.4.3 ********************************

In [ ]:
# SKILL DRILL
# Using the Pandas str.extract function, 
# extract the name from the "contact_info" column of the contact_df DataFrame, 
# and add it to a new column named "name".

In [12]:
# Extract the name using regular expression and add it to a new column
contacts_string_df["name"] = contacts_string_df["contact_info"].str.extract(r'name\s+([A-Za-z ]+)')

# Display the updated DataFrame
print(contacts_string_df)

                                          contact_info contact_id  \
0    contact_id 4661 name Cecilia Velasco email cec...       4661
1    contact_id 3765 name Mariana Ellis email maria...       3765
2    contact_id 4187 name Sofie Woods email sofie.w...       4187
3    contact_id 4941 name Jeanette Iannotti email j...       4941
4    contact_id 2199 name Samuel Sorgatz email samu...       2199
..                                                 ...        ...
995  contact_id 3684 name Whitney Noack email whitn...       3684
996  contact_id 5784 name Gelsomina Migliaccio emai...       5784
997  contact_id 1498 name Evangelista Pereira email...       1498
998  contact_id 6073 name Gareth Comolli email gare...       6073
999  contact_id 4939 name Michelangelo Hess email m...       4939

                                      name
0            Cecilia Velasco email cecilia
1              Mariana Ellis email mariana
2                  Sofie Woods email sofie
3         Jeanette Iannotti email jeanette
4              Samuel Sorgatz email samuel
..                                     ...
995            Whitney Noack email whitney
996   Gelsomina Migliaccio email gelsomina
997  Evangelista Pereira email evangelista
998            Gareth Comolli email gareth
999   Michelangelo Hess email michelangelo

[1000 rows x 3 columns]