In [1]:
#*******************************MODULE 8 ETL / 8.4.1 **********************

# Example1: Converting Single Quotes to Double Quotes

In [2]:
# Import the json module.
import json

In [3]:
# Suppose contact_info_df DataFrame had each key & string value 
# in single quotes instead of double quotes, as follows:
    
# Assign the string data to a variable. 

data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"

# Convert the string data to a dictionary.

converted_data = json.loads(data)

# Iterate through the dictionary (row) and get the values.

row_values = [v for k, v in converted_data.items()]

print(row_values)

# OUTPUT:  
# JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

# Trying to convert the data string to a dictionary results in the above error.
# This means that we need to hv double quotes around our keys.

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [4]:
#  Easy solution is to replace the single quotes with double quotes by using the following code:

data = data.replace("'", '"')
print(data)

# Running the code puts double quotes instead of single ones around the keys and string values.

{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}

In [5]:
# Convert the following updated string data to a dictionary, then print the value of each key.

dict_data = {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}

# replace single quotes with double quotes

dict_data = data.replace("'", '"')

# Convert the string data to a dictionary.

converted_dict_data = json.loads(dict_data)

# Iterate through the dictionary (row) and get the values.

dict_data_row_values = [v for k, v in converted_dict_data.items()]

print(dict_data_row_values)

[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

In [ ]:
# Suppose that we had the following string data, which contains no punctuation:
# string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

# List slicing would work to extract the four-digit numbers, 
# But, retrieving the names and email addresses would be a time-consuming, 
# because those values have different lengths.

# use regular expressions and 
# the findall function to extract the strings that we need.       re.findall(pattern, string)

In [6]:
# Import the regular expression module.

import re

In [7]:
# Assign the string data to a variable. 
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

# Extract the four digit number.

contact_id = re.findall(r'(\d{4})', string_data)

print(contact_id)

['4661']

In [ ]:
# ******************************* MODULE 8.4.3 ********************************

# PLAN: Using regular expressions to get the names of all the contacts.

# parse strings by eliminating characters at the beginning of a string 
# to get the name of each contact in the middle of a string.

# extract the name from the "contact_info" column of the contacts_df DataFrame.

#****************************************************************************************
# The regular expression will contain a capture group enclosed in single quotes that contains the following:

# 1) A caret, the word "name," a backslash, a lowercase "s," and a 
#    plus sign inside brackets ([^name\s+]): Ignores the word "name" 
#    followed by one or more whitespace characters.

# 2) The range for uppercase letters, the range for lowercase letters, and a 
#    plus sign inside brackets ([A-Za-z]+): Captures more than one letter, 
#    whether uppercase or lowercase.

# 3) A backslash, a lowercase "s," and a plus sign (\s+): Captures more 
#    than one whitespace character.

# 4) The range for uppercase letters, the range for lowercase letters, and a 
#    plus sign inside brackets ([A-Za-z]+): Captures more than 
#    one letter, whether uppercase or lowercase.

In [9]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco', 'il cecilia']

In [8]:
# Extract the first and last name after the word "name". 

name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [ ]:
# ******************************* MODULE 8.4.1 ********************************

# Example2: Finding Substrings in Multiple Rows

In [10]:
# Import the Pandas dependency.
import pandas as pd

In [11]:
# Read the contacts string data into a Pandas DataFrame

contacts_string_df = pd.read_csv("../M8_ModuleActivities/contacts_string_data.csv")

contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [12]:
# Print column info.
contacts_string_df.columns

Index(['contact_info'], dtype='object')

In [ ]:
# ******************************* MODULE 8.4.3 ********************************

In [ ]:
# SKILL DRILL
# Using the Pandas str.extract function, 
# extract the name from the "contact_info" column of the contact_df DataFrame, 
# and add it to a new column named "name".

In [13]:
# Extract the name using regular expression and add it to a new column
contacts_string_df["name"] = contacts_string_df["contact_info"].str.extract(r'name\s+([A-Za-z ]+)')

# Display the updated DataFrame
contacts_string_df.head()

                                          contact_info  \
0    contact_id 4661 name Cecilia Velasco email cec...
1    contact_id 3765 name Mariana Ellis email maria...
2    contact_id 4187 name Sofie Woods email sofie.w...
3    contact_id 4941 name Jeanette Iannotti email j...
4    contact_id 2199 name Samuel Sorgatz email samu...
..                                                 ...
995  contact_id 3684 name Whitney Noack email whitn...
996  contact_id 5784 name Gelsomina Migliaccio emai...
997  contact_id 1498 name Evangelista Pereira email...
998  contact_id 6073 name Gareth Comolli email gare...
999  contact_id 4939 name Michelangelo Hess email m...

                                      name
0            Cecilia Velasco email cecilia
1              Mariana Ellis email mariana
2                  Sofie Woods email sofie
3         Jeanette Iannotti email jeanette
4              Samuel Sorgatz email samuel
..                                     ...
995            Whitney Noack email whitney
996   Gelsomina Migliaccio email gelsomina
997  Evangelista Pereira email evangelista
998            Gareth Comolli email gareth
999   Michelangelo Hess email michelangelo

[1000 rows x 2 columns]

In [15]:
# Extract the email address using a regular expression pattern. 
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

['cecilia.velasco@rodrigues.fr']

In [17]:
# SKILL DRILL
# Using the Pandas str.extract function, 
# extract the email address from the "contact_info" column of the contact_df DataFrame, 
# and add it to a new column named "email".

# Extract the email address using regular expression and add it to a new column
contacts_string_df["email"] = contacts_string_df["contact_info"].str.extract(r'(\S+@\S+)')

# Display the updated DataFrame
contacts_string_df.head()

,contact_info,name,email
0,contact_id 4661 name Cecilia Velasco email cec...,Cecilia Velasco email cecilia,cecilia.velasco@rodrigues.fr
1,contact_id 3765 name Mariana Ellis email maria...,Mariana Ellis email mariana,mariana.ellis@rossi.org
2,contact_id 4187 name Sofie Woods email sofie.w...,Sofie Woods email sofie,sofie.woods@riviere.com
3,contact_id 4941 name Jeanette Iannotti email j...,Jeanette Iannotti email jeanette,jeanette.iannotti@yahoo.com
4,contact_id 2199 name Samuel Sorgatz email samu...,Samuel Sorgatz email samuel,samuel.sorgatz@gmail.com

In [ ]:
# ******************************* MODULE 8.5.1 ********************************